@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main class="content">
    <div class="content-box">
        <h2 class="box-title">AGENDA DE ALIMENTAÇÃO</h2>

        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["MensagemSucesso"]
            </div>
        }
        
        <div class="container text-center">
            
            <form method="post" asp-controller="Agenda" asp-action="SalvarAgenda">
                <div class="row">
                    
                    <div class="col">
                        <div class="form-group">
                            <label for="matutino_hora">Matutino</label>
                            <input type="time" id="HorarioMatutino" name="HorarioMatutino" class="form-control" value="">
                            
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="vespertino_hora">Vespertino</label>
                            <input type="time" id="HorarioVespertino" name="HorarioVespertino" class="form-control" value="">
                            
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="noturno_hora">Noturno</label>
                            <input type="time" id="HorarioNoturno" name="HorarioNoturno" class="form-control" value="">
                           
                        </div>
                    </div>

                    <div class="btn-group">
                        <button type="submit" class="btn btn-action btn-save">SALVAR AGENDA</button>
                        <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="Menu"> Voltar</a>
                    </div>
              
                
            </form>
        </div>
        </div>
</main>
