@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main class="content">
    <div class="content-box">
        <h2 class="box-title">< AGENDA DE ALIMENTAÇÃO</h2>
        
        <div class="container text-center">
            
            <form method="post" asp-controller="Alimentacao" asp-action="SalvarAgenda">
                <div class="row">
                    
                    <div class="col">
                        <div class="form-group">
                            <label for="matutino_hora">Matutino</label>
                            <input type="time" id="matutino_hora" name="matutino_hora" class="form-control" value="07:00">
                            <button type="submit" class="btn btn-action btn-save" style="padding: 10px 20px; width: 100px; margin-top: 10px; display:block; align-items:center">SALVAR</button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="vespertino_hora">Vespertino</label>
                            <input type="time" id="vespertino_hora" name="vespertino_hora" class="form-control" value="13:00">
                            <button type="submit" class="btn btn-action btn-save" style="padding: 10px 20px; width: 100px; margin-top: 10px; display:block; align-items:center;">SALVAR</button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="noturno_hora">Noturno</label>
                            <input type="time" id="noturno_hora" name="noturno_hora" class="form-control" value="19:00">
                            <button type="submit" class="btn btn-action btn-save" style="padding: 10px 20px; width: 100px; margin-top: 10px; display:block; align-items:center;">SALVAR</button>
                        </div>
                    </div>

                    <div class="btn-group">
                        <button type="submit" class="btn btn-action btn-save">SALVAR AGENDA</button>
                        <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="Menu"> Voltar</a>
                    </div>
              
                
            </form>
        </div>
        </div>
</main>
