@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<aside class="sidebar-menu">
    <div class="menu-title-container">
        <h2 class="menu-title">MENU</h2>
    </div>

    <nav>
        <div class="menu-list-container">
            <div class="menu-item-wrapper">
                <a class="btn btn-primary menu-link-asp"
                   asp-controller="Pet" asp-action="Cadastrar">CADASTRAR PET</a>
            </div>

            <div class="menu-item-wrapper">
                <a class="btn btn-primary menu-link-asp"
                   asp-controller="Racao" asp-action="Controle">CONTROLE DE RAÇÃO</a>
            </div>

            <div class="menu-item-wrapper">
                <a class="btn btn-primary menu-link-asp"
                   asp-controller="Alimentacao" asp-action="Agenda">AGENDA DE ALIMENTAÇÃO</a>
            </div>

            <div class="menu-item-wrapper">
                <a class="btn btn-primary menu-link-asp"
                   asp-controller="Relatorios" asp-action="Listar">RELATÓRIOS</a>
            </div>
            
            <div class="menu-item-wrapper">

                <a class="btn btn-primary menu-link-asp"
                
                   asp-controller="Pet" asp-action="Codigo">CÓDIGO PET</a> 

            </div>

            <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="Index" style="width: 200px; margin: 20px auto 0 auto; display: block;"> Voltar</a>
        </div>
    </nav>
</aside>
