@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="content">
    <div class="content-box">
        <h2 class="box-title"> RELATÓRIOS</h2>

        <p style="margin-bottom: 15px; font-weight: bold;">Consumo total de cada mês</p>
        <br />

        <table style="width: 100%; border-collapse: collapse; text-align: center;">
            <thead>
                <tr style="background-color: #f2f2f2;">
                    <th style="padding: 10px; border: 1px solid #ccc;">Mês</th>
                    <th style="padding: 10px; border: 1px solid #ccc;">Consumo (kg)</th>
                    <th style="padding: 10px; border: 1px solid #ccc;">Marca</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 10px; border: 1px solid #ccc;">Janeiro</td>
                    <td style="padding: 10px; border: 1px solid #ccc;">10 kg</td>
                    <td style="padding: 10px; border: 1px solid #ccc;">Pedigree</td>
                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #ccc;">Fevereiro</td>
                    <td style="padding: 10px; border: 1px solid #ccc;">11 kg</td>
                    <td style="padding: 10px; border: 1px solid #ccc;">Magnus</td>
                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #ccc;">Março</td>
                    <td style="padding: 10px; border: 1px solid #ccc;">12 kg</td>
                    <td style="padding: 10px; border: 1px solid #ccc;">Gran Plus </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <br />

        <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="Menu"> Voltar</a>
    </div>
</main>